.sales {
  align-items: center;
  background-color: var(--primary);
  color: var(--fonts-secondary);
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.sales__title {
  font-size: 4rem;
  font-weight: 400;
  position: relative;
  z-index: 11;
}

.sales__festival {
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  z-index: 11;
}

.sales__off {
  color: var(--fonts-secondary);
  font-size: 6rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  position: relative;
}

.sales__off span {
  font-size: 3rem;
}

.sales__btn {
  background-color: transparent;
  border: 1px solid var(--fonts-secondary);
  color: var(--fonts-secondary);
  padding: 1em 2em;
  transition: all .3s ease-in-out;
}
.sales__btn:hover {
  opacity: .9;
  transform: scale(1.1);
}

@media (max-width: 650px) {
  .sales {
    height: 350px;
  }

  .sales__title {
    font-size: 2.5rem;
  }
  
  .sales__festival {
    font-size: 1.5rem;
  }
  
  .sales__off {
    font-size: 3rem;

  }
  
  .sales__off span {
    font-size: 1.5rem;
  }

  .sales__btn {
    font-size: .8rem;
  }
}