.about-us {
  display: grid;
  /* gap: 1rem; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 500px;
  padding-top: 5em;
}

.about-us__img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.about-us__text {
  background-color: var(--primary);
  color: var(--fonts-secondary);
  padding: 4rem;
}

.about-us__header {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-us__desc {
  font-size: 1.125rem;
  line-height: 24px;
  margin-bottom: 5rem;
}

.about-us__btn {
  background-color: transparent;
  border: 1px solid var(--fonts-secondary);
  color: var(--fonts-secondary);
  padding: 1em 2em;
  transition: all .3s ease-in-out;
}

.about-us__btn:hover {
  opacity: .9;
  transform: scale(1.1);
}

@media (max-width: 750px) {
  .about-us {
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr;
  }
  
  .about-us__text {
    padding: 1.5em;
  }

  .about-us__desc {
    font-size: .8rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 350px) {
  .about-us {
    grid-template-rows: 350px 350px;
    grid-template-columns: 1fr;
  }

}