.magazine {
  margin-top: 8.5625rem;
}

.magazine__posts {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5em 2em;
  width: 100%;
}

.magazine__header {
  background-color: var(--primary);
  color: var(--fonts-secondary);
  font-size: 2.5rem;
  padding: 7.6rem 5rem 2rem 5rem;
}

.magazine__post {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  position: relative;
  width: 70%;
}

.magazine__post:nth-child(odd) {
  align-self: flex-end;
}

.magazine__post-text {
  background-color: var(--base);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.magazine__post-category {
  font-size: 1rem;
  margin-bottom: .2rem;
}

.magazine__post-title {
  font-size: 2.3rem;
  margin-bottom: 4rem;
}


.magazine__post-read {
  align-items: center;
  display: flex;
  gap: 1rem;
  font-size: .7rem;
  position: relative;
}

.magazine__post-read::after {
  background-color: var(--fonts-primary);
  content: '';
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  transition: all .3s ease-in-out;
}

.magazine__post-read:hover::after {
  width: 15%;
}

.magazine__post-img {
  height: 100%;
  object-fit: cover;
  width: 60%;
}

.magazine__post-date {
  position: absolute;
  top: -20px;
}

@media (max-width: 1050px) {
  .magazine__posts {
    padding-inline: 1em;
  }

  .magazine__post {
    align-self: center;
    width: 100%;
  }

  .magazine__post:nth-child(odd) {
    align-self: center;
  }
}

@media (max-width: 700px) {
  .magazine__post {
    flex-direction: column;
  }

  .magazine__post-img {
    width: 100%;
  }

  .magazine__post-text {
    width: 100%;
  }

  .magazine__post-title {
    font-size: 2rem;
  }

  .magazine__header {
    padding: 1em;
  }
}
@media (max-width: 650px) {
  .magazine {
    margin-top: 0;
  }
}