.card {
  cursor: pointer;
  margin: auto;
  transition: all .3s ease-in-out;
  width: 100%;
}

.card:hover {
  transform: translateY(-10px);
}

.card__img {
  height: 415px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 1.5rem;
  width: 100%;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: .3rem;
}

.card__rating {
  align-items: center;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  gap: .5rem;
  margin-bottom: .5rem;
}

.card__star {
  width: 1rem;
}

.card__price {
  color: var(--fonts-primary);
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: .5rem;
}

.card__old-price {
  font-size: 1.2rem;
  text-decoration: line-through;
  color: var(--fonts-primary);
}

.card__discount {
  color: var(--fonts-tertiary);
  font-size: 1.2rem;
}

@media (max-width: 350px) {
  .card__img {
    height: 350px;
  } 
}