.products {
  margin-top: 8.5625rem;
}

.products__header {
  background-color: var(--primary);
  padding: 7.6em 5em 2em 5em;
}

.products__header h1 {
  color: var(--fonts-secondary);
  font-size: 2.25rem;
}

.products__filters {
  display: flex;
  padding: 0.5em 1.5em;
  gap: 0.8rem;
}

.products__btn {
  align-items: center;
  background-color: transparent;
  border: none;
  display: flex;
  font-size: 1rem;
  gap: 0.4rem;
  padding: 1em 1.5em;
}

.products__cards {
  display: grid;
  gap: 1.1rem;
  grid-template-columns: repeat(auto-fill, 305px);
  justify-content: center;
  padding: 1.8em 5em;
}

.products__no-result {
  font-size: 4rem;
  padding: 2em 1.5em;
}

@media (max-width: 950px) {
  .products {
    margin-top: 0;
  }

  .products__header {
    padding: 5em 1em 2em 1em;
    text-align: center;
  }

  .products__header h1 {
    font-size: 2rem;
  }
}

@media (max-width: 350px) {
  .products__cards {
    grid-template-columns: repeat(auto-fill, 205px);
  }
}

@media (max-width: 450px) {
  .products__filters {
    padding: 1.5em .5em;
    justify-content: center;
  }

  .products__btn {
    font-size: 0.8rem;
  }
}
