.collection {
  margin-inline: auto;
  max-width: 1500px;
  padding: 0 5em 5em 5em;
}

.collection__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 305px);
  justify-content: center;
  gap: 1.1rem;
}

.collection__header {
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.collection__title {
  color: var(--fonts-primary);
  font-size: 2rem;
}

.collection__btn {
  background-color: transparent;
  border: 1px solid var(--fonts-primary);
  color: var(--fonts-primary);
  padding: .5em 1em;
  transition: all .3s ease-in-out;
}

.collection__btn:hover {
  opacity: .9;
  transform: scale(1.1);
}

@media (max-width: 1250px) {

  .collection__title {
    font-size: 1.5rem;
  }
}

@media (max-width: 650px) {
  .collection__header {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 350px) {
  .collection__cards {
    grid-template-columns: repeat(auto-fill, 205px);
  } 
}
