.features {
  margin-inline: auto;
  max-width: 1500px;
  padding: 5em;
}

.features__header {
  color: var(--fonts-primary);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.1rem;
}

.features__cards {
  display: grid;
  gap: 1.1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

.features-card {
  background-color: var(--base);
  padding: 3rem;
}

.features-card__icon {
  margin-bottom: .75rem;
}

.features-card__title {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: .75rem;
  text-transform: capitalize;
}

.features-card__desc {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
}

@media (max-width: 950px) {
  .features {
    padding: 3em 1.5em;
  }

  .features__cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 650px) {
  .features__cards {
    grid-template-columns: 1fr;
  }
}