.footer {
  background-color: var(--fonts-primary);
  display: flex;
  justify-content: space-between;
  padding: 3.6em 6em;
}

.footer__logo {
  color: var(--base);
  justify-self: center;
  font-size: 1.5rem;
}

.footer__list {
  color: var(--base);
}

.footer__item:first-child {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.footer__item {
  font-size: .9rem;
  margin-bottom: .5rem;
  transition: all .2s ease-in-out;
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__list--socials {
  display: flex;
  gap: 1rem;
}

.footer__list--socials .footer__item:hover {
  transform: scale(1.2);
}

@media (max-width: 950px) {
  .footer {
    padding: 3em 1.5em;
  }
}

@media (max-width: 650px) {
  .footer {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 1em;
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 1.5rem;
  }

  .footer__item:last-child {
    margin-bottom: 1.5rem;
  }
}