.products {
  margin-top: 8.5625rem;
}

.products__header {
  background-color: var(--primary);
  padding: 7.6em 5em 2em 5em;
}

.products__header h1 {
  color: var(--fonts-secondary);
  font-size: 2.25rem;
}

.products__filters {
  display: flex;
  gap: 0.8rem;
  padding: 1em 5em;
  max-width: 1500px;
  margin-inline: auto;
}

.products__filter-wrapper {
  position: relative;
}

.products__btn {
  align-items: center;
  background-color: var(--base);
  border: none;
  display: flex;
  font-size: 1rem;
  gap: 0.4rem;
  padding: 1em 2em;
}

.products__btn-more {
  background-color: var(--base);
  position: absolute;
  left: 0;
  padding: 1em;
  right: 0;
  top: 100%;
  z-index: 8;
  margin-top: .5rem;
}

.products__btn-more li:not(:last-child) {
  margin-bottom: 1rem;
}

.products__cards {
  display: grid;
  gap: 1.1rem;
  grid-template-columns: repeat(auto-fill, 305px);
  justify-content: center;
  padding: 1.8em 5em;
}

.products__no-result {
  font-size: 4rem;
  padding: 2em 1.5em;
}

@media (max-width: 950px) {
  
  .products__header {
    padding: 5em 1em 2em 1em;
    text-align: center;
  }

  .products__header h1 {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {
  .products {
    margin-top: 0;
  }
}

@media (max-width: 350px) {
  .products__cards {
    grid-template-columns: repeat(auto-fill, 205px);
  }
}

@media (max-width: 450px) {
  .products__filters {
    padding: 1.5em .5em;
    justify-content: center;
  }
}
