* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --base: #FAF9F8;
  --primary: #115E83;
  --secondary: #FFF;
  --fonts-primary: #222222;
  --fonts-secondary: #FFF;
  --price-off: #C9002E;
  ;
}

body {
  background-color: var(--secondary);
  color: var(--fonts-primary);
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
}

.open {
  background-color: var(--base);
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  animation: pageLoad 2s forwards;
  z-index: 10;
}

button {
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
}

input, input::placeholder {
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
}

ul,ol {
  list-style: none;
}

a {
  color: var(--fonts-primary);
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 500;
}

h4,h5,h6,p {
  font-weight: 300;
}

@keyframes pageLoad {
  0% {
    height: 100vh;
  }
  100% {
    transform: translateY(-100px);
    height: 0vh;
  }
}