.nav {
  background-color: var(--base);
  left: 0;
  padding: 1.4em 1.4em 0 1.4em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

.nav span {
  cursor: pointer;
}

.nav__main {
  align-items: center;
  display: grid;
  grid-template-columns: 40% 1fr 40%;
  margin-inline: auto;
  max-width: 1500px;
  padding-bottom: 1.4em;
}

.nav__logo {
  color: var(--fonts-primary);
  justify-self: center;
  font-size: 1.5rem;
}

.nav__form {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav__input {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: var(--fonts-primary);
  padding: .5em 1em;
  width: 80%;
}

.nav__input:focus {
  border: 1px solid var(--fonts-primary);
  outline: none;
}

.nav__icons {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.nav-cart__icon {
  position: relative;
}

.nav-cart__notification {
  align-items: center;
  background-color: var(--fonts-primary);
  border-radius: 50%;
  color: var(--fonts-secondary);
  display: flex;
  font-size: .7rem;
  height: 17px;
  justify-content: center;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 17px;
}

.nav__categories {
  margin-inline: auto;
  max-width: 1500px;
  padding-top: 1.25em;
}

.nav__categories-mobile {
  display: none;
  font-size: 1.2rem;
  margin-inline: auto;
  padding-block: 1.25em;
}

.nav__item-mobile {
  color: var(--fonts-primary);
  cursor: pointer;
  overflow: hidden;
  height: 26px;
}

.nav__item-mobile.mobile-open {
  height: 100%;
}

.nav__item-mobile:not(:last-child) {
  margin-bottom: 1rem;
}

.nav__item-mobile a {
  color: var(--fonts-primary);
  text-decoration: none;
  transition: color .2s ease-in-out;
}

.nav__item-more-mobile {
  padding: .5em 1em;
}

.nav__item-more-mobile li {
  font-size: 1rem;
}

.nav__item-mobile li a {
  display: block;
}

.nav__item-more-mobile li:not(:last-child) {
  margin-bottom: .7rem;
}

.nav__item a.active, .nav__item-mobile a.active {
  color: var(--fonts-primary);
}

.nav__list {
  display: flex;
  gap: 2.75rem;
  justify-content: center;
}

.nav__item {
  padding-bottom: 1.4em;
  position: relative;
}

.nav__item-more {
  top: 100%;
  width: 300px;
  background-color: var(--base);
  display: none;
  padding: 1em;
  position: absolute;
}

.nav__item-more li {
  margin-bottom: 1rem;
}

.nav__item:hover .nav__item-more {
  display: block;
}

.nav__item a {
  color: var(--fonts-primary);
  text-decoration: none;
  transition: color .2s ease-in-out;
  position: relative;
}

.nav__item a::after {
  background-color: var(--fonts-primary);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  transition: all .3s ease-in-out;
}

.nav__item a:hover::after {
  width: 100%;
}

.nav__hamburger {
  display: none;
}

@media (max-width: 650px) {
  .nav {
    position: unset;
  }


  .nav__main {
    border-bottom: none;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    justify-content: space-between;
    padding-bottom: 1.5em;
  }

  .nav__icons {
    gap: .7rem;
  }

  .nav__categories {
    display: none;
  }
  
  .nav__categories-mobile {
    display: block;
  }

  .nav__hamburger {
    display: block;
  }

  .nav__logo {
    font-size: 1.3rem;
    justify-self: unset;
  }

  .nav__form {
    grid-row: 2;
    grid-column: span 2;
    margin-top: 1.4rem;
  }

  .nav__input {
    width: 100%;
  }
}